<h1>Articles</h1><br/>

<% unless @articles.empty? %>

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Tags</th>
        <th colspan="3"></th>
      </tr>
    </thead>

 <% end %>   

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= raw(article.description) %></td>
          <td><%= article.tags.empty? ? 'no tags present' : article.tags.map{|t|t.name}.join(', ') %></td>
          <td><%= link_to 'Show', article %></td>
          <% if user_signed_in? && current_user.is_admin? %>
             <td><%= link_to 'Edit', edit_article_path(article) %></td>
             <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>   
        </tr>
      <% end %>
    </tbody>
    </table>

<br>

<%= link_to 'Create New Article', new_article_path %>


<p><%= link_to "Back to Home Page", root_path %></p>


